.card {
  width: 323px;
  position: relative;
  display: flex;
  justify-content: center;
}

.card__title-wrapper {
  display: flex;
  position: absolute;
  align-items: center;
  top: 15px;
}

.card__name {
  position: relative;
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  background-color: white;
  border-radius: 4px;
  padding: 2px 12px;
  opacity: 60%;
}

.card__liked {
  background: transparent url(../../Assets/Liked.svg) center no-repeat;
  height: 15px;
  width: 18px;
  padding: 10px;
  display: flex;
  border: none;
  margin: 0 0 0 10px;
  transition: 0.2s ease-in-out;
}

.card__liked:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.card__unliked {
  background: transparent url(../../Assets/Unliked.svg) center no-repeat;
  height: 15px;
  width: 18px;
  padding: 10px;
  display: flex;
  border: none;
  margin: 0 0 0 10px;
  transition: 0.2s ease-in-out;
}

.card__unliked:hover {
  cursor: pointer;
  transform: scale(0.8);
}

.card__like_btn_hidden {
  visibility: hidden;
}

.card__img {
  width: 100%;
  border-radius: 19px;
  border: 1px rgba(0, 0, 0, 0.3) solid;
  height: 328px;
}
