.sidebar {
  display: flex;
  max-width: 800px;
  flex-direction: column;
  margin-left: 46px;
}

.sidebar__user-wrap {
  display: flex;
}

.sidebar__avatar {
  border-radius: 50%;
  height: 56px;
  width: 56px;
  margin: 0px 40px 16px 0px;
}

.sidebar__username {
  margin: 20px 40px 0px 0px;
  text-wrap: wrap;
}

.sidebar__profile-btn {
  border: none;
  text-align: left;
  margin: 20px 0 0 0;
}

.clothes-section__add-button {
  border: none;
  transition: 0.2s;
}

.clothes-section__add-button:hover {
  opacity: 60%;
}
